{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
  {% if app.user.mentor %}
    <h1>Welcome</h1>
    <p>You are participating in this program as a mentor.</p>

    <div class="card mt-3 mb-3 p-0">
      <div class="card-header d-flex justify-content-between">
        My mentored projects
        <a class="btn btn-secondary" href="{{ path('projects') }}">See projects to mentor</a>
      </div>
      <table class="table card-body">
        <thead>
          <tr>
            <th>Title</th>
            <th>Student</th>
            <th>Accepted</th>
            <th>Completed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for project in app.user.projectsMentored %}
          <tr>
            <td>{{  project.title }}</td>
            <td>{{  project.student.username }}</td>
            <td class="{{ project.accepted ? "text-success" : "text-danger" }}">
              {{  project.accepted ? "Yes" : "No" }}
            </td>
            <td class="{{ project.completed ? "text-success" : "text-danger" }}">
              {{  project.completed ? "Yes" : "No" }}
            </td>
            <td>
              <a class="btn btn-warning" href="{{ path('project_stop_mentor', {'id': project.id}) }}">
                Stop mentoring
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if not app.user.mentor %}
    <h1>Welcome</h1>
    <p>
      You are participating in this program as a student. You want to mentor
      instead, then fill <a href="{{ path('mentor_application_create') }}">this form</a>.
    </p>
    
    {% if app.user.mentorApplication %}
      <div class="alert alert-info">Your mentor application in under review. Please ping the SoK admin in #kde-soc, if your application take too long.</div>
    {% endif %}
  {% endif %}
  <div class="card mt-3 mb-3 p-0">
    <div class="card-header d-flex justify-content-between">
      My {{ app.user.mentor ? "past" : "" }} projects
      {% if not app.user.mentor %}
      <a class="btn btn-secondary" href="{{ path('project_new') }}">
        Create project
      </a>
      {% endif %}
    </div>
    <table class="table card-body">
      <thead>
      <tr>
        <th>Title</th>
        <th>Mentors</th>
        <th>Accepted</th>
        <th>Completed</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {% if app.user.projects | length > 0 %}
        {% for project in app.user.projects %}
          <tr>
            <td>{{  project.title }}</td>
            <td>
              {% for mentor in project.mentors %}
                {{ mentor.username }}{% if not loop.last %}, {% endif %}
              {% endfor %}
            <td class="{{ project.accepted ? "text-success" : "text-danger" }}">
              {{ project.accepted ? "Yes" : "No" }}
            </td>
            <td class="{{ project.completed ? "text-success" : "text-danger" }}">
              {{ project.completed ? "Yes" : "No" }}
            </td>
            <th>
              <a class="btn btn-secondary" href="{{ path('project_edit', {'id': project.id}) }}">
                Edit
              </a>
              <a class="btn btn-danger" href="{{ path('project_remove', {'id': project.id}) }}">
                Remove
              </a>
            </th>
          </tr>
        {% endfor %}
      {% else %}
        <tr><td colspan="5">You currendly don't have any project proposal.</td></tr>
      {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
