{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block title %}{{ message }}{% endblock %}

{% block body %}
  <h1>{{ message }}</h1>
  {{ form(form) }}
{% endblock %}
