{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block title %}List projects{% endblock %}

{% block body %}
  <div class="card mt-3 mb-3 p-0">
    <div class="card-header d-flex justify-content-between">
      Projects for {{ season.title }}
    </div>
    <table class="table card-body">
      <thead>
      <tr>
        <th>Title</th>
        <th>Mentors</th>
        <th>Accepted</th>
        <th>Completed</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {% for project in projects %}
        <tr>
          <td>{{  project.title }}</td>
          <td>
            {% for mentor in project.mentors %}
              {{ mentor.username }}{% if not loop.last %}, {% endif %}
            {% endfor %}
          <td class="{{ project.accepted ? "text-success" : "text-danger" }}">
            {{  project.accepted ? "Yes" : "No" }}
          </td>
          <td class="{{ project.completed ? "text-success" : "text-danger" }}">
            {{  project.completed ? "Yes" : "No" }}
          </td>
          <th>
            {% if project not in app.user.projectsMentored %}
              <a class="btn btn-success" href="{{ path('project_mentor', {'id': project.id}) }}">
                Mentor
              </a>
            {% else %}
              <a class="btn btn-warning" href="{{ path('project_stop_mentor', {'id': project.id}) }}">
                Stop mentoring
              </a>
            {% endif %}
          </th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
